html,body{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a, a:link, a:visited{
	color: rgb(238,115,8);
	text-decoration: none;
	transition: all 0.1s;
}
a:hover{
	color: #666;
}

hr{
	color: #fff;
}


h1{font-size: 2.0em;}
h2{font-size: 1.8em;}
h3{font-size: 1.3em;}
h4{font-size: 1.1em;}

h1,h2,h3,h4{
	font-family: 'Oswald', sans-serif;
    font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #555;
	padding-bottom: 10px;
}

/*********************************** CABEÇALHO, NAVBAR'S */
#topo{
	background: url('../img/wall.svg') no-repeat center center/cover;
    width: 100%;
    /* filter: blur(1px); */
    height: 100%;
    min-height: 100vh; /* a altura do background se adapta ao viewport do usuário */
    position: relative;
    text-align: center;
}

.header-bloco{
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
    color: #fff;
    position: absolute;
	top: 10vh;
	background-color: rgba(0,0,0,0.81);
	/* border-top: 5px solid rgba(255,214,0,1);
	border-bottom: 5px solid rgba(255,294,0,1); */
	padding-top: 20px;
	padding-bottom: 20px;
}

@media (min-width: 768px){
	.header-bloco{
	    top: 10vh;
	}
}

@media (min-width: 1024px){
	.header-bloco{
	    top: 16vh;
	}
}

.header-bloco > .row > div > h2.header-titulo{
    text-align: center;
    color: #fff;
	margin:0;
	font-size: 2em;
	padding: 5px 0px;
    text-shadow: 0px 0px 10px #000;
}

@media (min-width: 768px) {
	.header-bloco > .row > div > h2.header-titulo{
		font-size: 4em;
	}
}

.header-bloco > .row > div > p{
	padding: 0px 20px; 
	font-size: 1.2em;
	color: #fff;
	font-weight: 700;
    text-shadow: 0px 0px 10px #000;
}

.header-bloco .btn-default{
	border: 0px;
	padding: 10px 20px;
	border-radius: 0px;
	transition: all 0.2s;
	font-weight: bold;
	color: #fff;
	background: rgba(0,132,255,1);
}

.header-bloco .btn-default:hover{
	border: 0px;
	border-radius: 0px;		
	color: #fff;
	background: rgba(106,255,0,1);
}

.header-bloco .btn-box {
	border: 0px;
	padding: 10px 20px;
	border-radius: 0px;
	transition: all 0.2s;
	font-weight: bold;
	color: #fff;
	background: rgba(0,132,255,1);
	min-width: 280px;
	border-bottom: 5px solid rgba(0,82,255,1);
	margin-bottom: 2px;
}

.btn-box:hover {
	border-bottom: 5px solid rgba(106,155,0,1);
	color: #fff;
	background: rgba(106,255,0,1);
}

#topo-contagem{
    color: #fff;
	margin-top: -3px;
	margin-bottom: 0px;
	background-color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    z-index: 99999999;
    border-top: 2px solid #000;
    width: 100%;
    padding: 30px 20px;
}

#topo-contagem .row:first-child{
	padding-top: 20px;
	padding-bottom: 10px;
}
#topo-contagem .row:last-child{
	padding-bottom: 20px;
}

#topo-contagem > .row > .col-md-12 > h2,
#topo-contagem > .row > .col-md-3 > h2{
	color: #fff;
	padding: 0px 10px;
}

#topo-contagem > .row > .col-md-3{
	
}

@media (min-width: 768px){
	#topo-contagem > .row > .col-md-3 > p{
		
	}	
}


/* MENU PRINCIPAL */
#nav-fixa{
	background-color: rgba(0,0,0,1);
	padding: 0px 0;
	border-bottom: 0;
	transition: all 0.2s;
}

#logo-setac{
	color: rgba(0,132,255,1);
	font-family: 'Nunito';
	font-size: 2.5em;
	font-weight: 300;
	text-shadow: 1px 1px 0px rgba(0,0,0,1);
}


/* ALTERA O FUNDO DO MENU EM MOBILE DEVICES */
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	background-color: rgba(0,0,0,1);
	font-weight: 600;
}

@media (min-width: 768px){
	.navbar-right .dropdown-menu {
    	right: auto;
    	left: auto;
	}
}

#nav-fixa .nav > li.active > a {
	background-color: unset;
}

#nav-fixa .nav > li > a{
	color: rgba(255,255,255,1);
	transition: all 0.2s;
	text-transform: uppercase;
}

#nav-fixa .nav > li > a:hover,
#nav-fixa .nav > li > a:focus{
	color: rgba(255,255,255,1);
	background-color: rgba(0, 176, 255, 0.875);
	border-bottom: 0px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: rgba(0,0,0,0);
}

@media (min-width: 768px){
	#nav-fixa{
		padding: 20px 0;
		background-color: rgba(0,0,0,1);
		box-shadow: 0px 2px 2px rgba(217,175,5,0);
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		background-color: rgba(244,204,0,0);
	}

	#nav-fixa .nav > li.active > a {
		color: rgba(225,134,36,.875);
	}

	#nav-fixa .nav > li > a{
		color: rgba(255,255,255,1);
		font-weight: 600;
		background-color: unset;
	}

	#nav-fixa .nav > li > a:hover, 
	#nav-fixa .nav > li > a:focus{
		color: rgba(0,114,225,1);
		padding-bottom: 15px;
		background-color: unset;
	}
	.logo-setac{
		color: rgba(254,204,0,1);
	}

}

#logo-img {
	display: block;
	width: 100%;
	text-align: center;
}

#logo-img > img {
	display: relative;
	width: 200px;
	opacity: 0.8;
	transition: all 0.2s;
}

#logo-img > img:hover {
	opacity: 1;
}

/* DROPDOWN */
.navbar-default .navbar-nav .open .dropdown-menu{
	background-color: rgba(255,255,255,1);
}	

.navbar-header button{color: #fff;}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle{
	background-color: rgba(255,255,255,0.5);
	border: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: unset;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-top: 1px solid rgb(0, 26, 41);
	color: rgba(255,203,5,1);
	border-bottom: 0;
	border-right: 0;
	border-left: 0;
	
}

.dropdown-menu > li{
	color: rgba(55,025,155,0.5);
	text-transform: uppercase;
}

.dropdown-menu > li > a{
	transition: all 0.2s;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
	color: #fff;	
	background-color: rgba(234,203,34,1);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #fff;
	text-decoration: none;
}


/* DROPDOWN: ESTILOS PARA DISPOSITIVOS COM RESOLUÇÃO MAIOR QUE 768px */
@media (min-width: 768px){
	.navbar-default .navbar-nav .open .dropdown-menu{
		background-color: rgba(254,204,0,1);
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-top: 0;
		border-bottom: 0;
		border-right: 0;
		border-left: 0;
	}

	.dropdown-menu{
		border: 0px solid rgba(0, 0, 0, .15);
		border-radius: 4px;
		-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .175);
				box-shadow: 0 2px 3px rgba(0, 0, 0, .175);
	}

	.dropdown-menu > li{
		color: rgba(234,118,16,0.5);
		text-transform: uppercase;
	}

	.dropdown-menu > li > a{
		font-weight: 600;
		color: rgba(255,255,255,1);
		text-transform: uppercase;
	}

		
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
		color: #fff;
		background-color: rgba(200,160,0,1);
	}
}

/*********************************** CONTEÚDO */

#conteudo{
	margin-top: 20px;
}

#conteudo a.btn{
	color: #fff;
}

#conteudo .jumbotron{
	border-bottom: 0px;
	padding: 5px 0px;
	margin-bottom: 0;
	background-color: unset;
	border-radius: 0;
}

.lateral-box{
	padding: 20px;
	margin-bottom: 10px;
	text-align: justify;
	box-sizing: content-box;
	/*background-color: rgba(254,204,0,0.2);*/
}

.lateral-box h2{
	padding: 0;
	margin: 0 0 10px 0;
}

.lateral-box ul{
	list-style: square;
	margin: 0;
	padding-left: 20px;
}

ul.setac-anterior{
	list-style: none;
}

ul.setac-anterior span,
ul.setac-anterior a{
	color:  #777;
	text-decoration: none;
}
ul.setac-anterior span{padding: 0px;}

ul.setac-anterior li:hover span,
ul.setac-anterior li:hover a{
	color: #222;
}

#destaque{
	text-align: center;
}

#apoio-evento{
	margin-top: 0px;
}

.lista-topicos{
	list-style: square;
	color: #666;
}


.logo-utfpr{text-align: right; width: 100%; padding: 20px 0;}


#chamada{
}


#chamada h2{
	padding-top: 40px;
}

.container .bloco-tags > div:last-child{
	margin-bottom: 25px;
	text-align: right;
}

.container .tag {
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	vertical-align: top;
	font-size: 18px;

}

.container .tag-year{
	background-color: rgb(230,220,8);
}

.container .tag-anais{
	background-color: rgb(0,132,255);
	color: #fff;
	text-transform: uppercase;
}

.container .tag-anais a {
	color: #fff;
}

.container .tag-anais:hover {
	background-color: rgb(0,132,155);	
}

.container img{
	width: 100%;
}

.container ul,
.container ul > li{
	padding: 0;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}

ul.datas-importantes{
	list-style: none;
}

ol.subm-list {
	text-align: left;
}

ul.link-list{
	padding-left: 30px;
	list-style: disc;
}

.gallerie-big {
	width: 100%;
	border: 0;
	padding: 0px;
	margin: 0px;
}

/*********************************** RODAPÉ */

#rodape{
	padding: 20px 0;
	margin-top: 40px;
	background-color: rgba(0,0,0,1);
	/*box-shadow: inset 0px 2px 1px rgba(217,175,5,1);*/
}

#rodape a{
	color: #222;
}

#rodape a:hover{
	color: #fff;
}

#rodape p{
	margin: 0;
	color: rgba(205,205,205,1);
}

h2.titulo-rodape{
	width: 100%;
	margin: 0;
	padding: 10px 0;
	margin-bottom: 10px;
	text-align: left;
	border-radius: 0;
	font-size: 1.4em;
	color: rgba(246,255,0,0.8);
}


#rodape hr{
	border: 2px solid rgba(246,255,0,0.8);
	padding: 0;
	margin: 20px 0;
}

#ft-endereco{
	text-align: center;
}

.ant-galeria{
	margin-bottom: 30px;
	text-align: center;
}

.ant-galeria > .row > div > a > img{
	width: 80%;
}

#ant-anais1 h2, #ant-anais2 h2{
	text-align: left;
}

.biggerPhoto {
	display: none;
}

@media (min-width: 768px){
	.ant-galeria > .row > div > a > img{
		width: 100%;
	}

	.biggerPhoto {
		display: block;
	}

  #biggerPhoto2016 {
    height: 380px;
  }

  #biggerPhoto2015 {
    height: 410px;
  }




	#ant-anais1 h2, #ant-anais2 h2 {
		text-align: right;
	}
}

.feira > h2{
	font-size: 20px;
}

@media (min-width: 425px) {
	.feira > h2 {
		font-size: 30px;
	}
}
	
@media (min-width: 680px) {
	.feira img {
		width: 80%;
	}
}

@media (min-width: 768px) {
	.feira > h2 {
		font-size: 40px;
	}

	.feira img {
		width: 70%;
	}
}

@media (min-width: 1024px) {
	.feira img {
		width: 50%;
	}
}













